<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ManageServices.dao.OrderMapper">
    <cache type="com.ManageServices.redis.RedisCache2"/>
    <insert id="insertOrder">
        INSERT
        INTO order_(userId,paperId,orderDate,amount)
        VALUES (#{userId},#{paperId},#{orderDate},#{amount})
    </insert>


    <resultMap id="orderItem" type="java.util.Map">
        <id property="orderId" column="orderId" javaType="int"></id>
        <result property="paperId" column="paperId" javaType="int"></result>
        <result property="title" column="title" javaType="String"></result>
        <result property="orderDate" column="orderDate" javaType="String"></result>
        <result property="amount" column="amount" javaType="int"></result>
        <collection  property="authorList" javaType="java.util.List" ofType="java.util.Map">
            <id column="expertId" javaType="int" property="expertId"></id>
            <result property="name" column="name" javaType="String"></result>
        </collection>
    </resultMap>

    <select id="selectOrder" resultMap="orderItem">
        SELECT orderId,orderDate,amount,p.paperId,p.title,author.expertId,author.name
        FROM order_ o LEFT JOIN paper_ p ON o.paperId = p.paperId
        LEFT JOIN (SELECT ep.expertId,name,paperId
                    FROM expert_ LEFT JOIN expert_paper_ ep ON expert_.expertId = ep.expertId
                    )AS author
        ON p.paperId = author.paperId
        <where>
            <if test="userId != -1">
                AND userId = #{userId}
            </if>
            <if test="paperId != -1">
                and o.paperId = #{paperId}
            </if>
            <if test="fromDate != null and toDate != null">
                and orderDate BETWEEN #{fromDate} and #{toDate}
            </if>
        </where>
    </select>


</mapper>