<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ManageServices.dao.PaperMapper">
    <cache type="com.ManageServices.redis.RedisCache2"/>

    <insert id="insertByBatch">
        INSERT INTO paper_(paperId, title, summary, keyword, author)  VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.paperId},#{item.title},#{item.summary},#{item.keyword},#{item.author})
        </foreach>
    </insert>

    <insert id="insertPaper" parameterType="java.util.Map" useGeneratedKeys="true" keyColumn="paperId" keyProperty="paperId">
        INSERT
        INTO paper_ (title,summary,keyword,author,filePath,publishedDate,ownerId)
        VALUES (#{title},#{summary},#{keyword},#{author},#{filePath},#{publishedDate},#{ownerId})
        <selectKey resultType ="int" keyProperty= "paperId" order= "AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey >
    </insert>

    <insert id="insertPaper2" parameterType="java.util.Map">
        INSERT
        INTO paper_ (title,summary,keyword,author,filePath,publishedDate,ownerId)
        VALUES (#{title},#{summary},#{keyword},#{author},#{filePath},#{publishedDate},#{ownerId})
        <selectKey resultType ="int" keyProperty= "paperId" order= "AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey >
    </insert>

    <update id="updatePaper">
        UPDATE paper_
        <set>
            <if test="price != -1"> price = #{price},</if>
            <if test="downloadCount != -1"> downloadCount = downloadCount + 1,</if>
        </set>
        WHERE paperId = #{paperId}
    </update>

    <delete id="deletePaper">
        DELETE FROM paper_
        <where>
            <if test="paperId != -1">
                AND paperId = #{paperId}
            </if>
            <if test="expertId != -1">
                AND expertId = #{expertId}
            </if>
        </where>
    </delete>

    <select id="selectPaperLike" resultType="java.util.Map">
        SELECT paperId,title,author,publishedDate,downloadCount
        FROM paper_
        <where>
            <if test="fromDate != null and toDate != null">
                AND publishedDate BETWEEN #{fromDate} and #{toDate}
            </if>
            <if test="title != null">
                and title LIKE "%"#{title}"%"
            </if>
            <if test="summary != null">
                and summary LIKE "%"#{summary}"%"
            </if>
            <if test="keyword != null">
                and keyword LIKE "%"#{keyword}"%"
            </if>
            <if test="author != null">
                and author LIKE "%"#{author}"%"
            </if>
        </where>
    </select>

    <select id="selectPaperByEid" resultType="java.util.Map">
        select expertId,title,author,publishedDate,downloadCount
        FROM  paper_ p LEFT JOIN expert_paper_ ep ON p.paperId = ep.paperId
        WHERE ep.expertId = #{expertId}
    </select>

    <select id="selectOwnPaperByEid" resultType="java.util.Map">
        SELECT expertId,title,author,publishedDate,downloadCount
        FROM paper_ p LEFT JOIN expert_ e ON p.ownerId = e.expertId
        WHERE expertId = #{expertId}
    </select>

    <resultMap id="paperDetial" type="java.util.Map">
        <id property="paperId" column="paperId" javaType="int"></id>
        <result property="title" column="title" javaType="String"></result>
        <result property="summary" column="summary" javaType="String"></result>
        <result property="keyword" column="keyword" javaType="String"></result>
        <result property="author" column="author" javaType="String"></result>
        <result property="downloadCount" column="downloadCount" javaType="int"></result>
        <result property="price" column="price" javaType="int"></result>
        <result property="filepath" column="filepath" javaType="String"></result>
        <result property="publishedDate" column="publishedDate" javaType="String"></result>
        <collection  property="authorIdList" javaType="java.util.List" ofType="java.util.Map">
            <id column="expertId" javaType="int" property="expertId"></id>
            <association property="expertName" column="name" javaType="String">
            </association>
        </collection>
    </resultMap>
    <select id="selectPaperDetial"  resultMap="paperDetial">
        SELECT p.*,ep.expertId,e.name FROM paper_ p LEFT JOIN expert_paper_ ep ON p.paperId = ep.paperId
        LEFT JOIN expert_ e ON ep.expertId = e.expertId
        WHERE p.paperId = #{paperId}
    </select>
</mapper>